<div class="sidebar">
  <div class="container sidebar">
    
    <div class="sidebar-about">
      <h3><a class="">Randi H Griffin, PhD</a></h3>
      <p style="font-size:13px">
      <i>Data scientist @ KAYAK | 
         Python, R, SQL, ML, stats |
         Ecology, Evolution, & Anthropology |
         Education & Diversity in STEM
         </i><br />
      <a class="lead">rgriff23@gmail.com</a>
      </p>
      <img src="/assets/images/profile.jpg" alt="profile picture" class="responsive">
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/index.html">About</a>
      <a class="sidebar-nav-item" href="/blog.html">Blog</a>
      <a class="sidebar-nav-item" href="/blog.html" style="font-size:14px"> - Tags</a>
      <a class="sidebar-nav-item" href="/projects.html">Projects</a>
      <a class="sidebar-nav-item" href="/publications.html">Publications</a>
      <a class="sidebar-nav-item" href="https://rgriff23.github.io/assets/pdfs/Randi_Griffin_resume.pdf">Download resume</a>
    </nav>


<div id="social">
    {% include social.html %}
</div>

<div>
    <br>
</div>

  </div>
</div>
