<div class="sidebar">
  <div class="container sidebar">
    
    <div class="sidebar-about">
      <h3><a class="">Randi H Griffin, PhD</a></h3>
      <p style="font-size:13px">
      <i>Data scientist @ KAYAK | 
         Python, R, SQL, ML, stats |
         Ecology, Evolution, & Anthropology |
         Education & Diversity in STEM
         </i><br />
      <a class="lead">rgriff23@gmail.com</a>
      </p>
      <img src="/assets/images/profile.jpg" alt="profile picture" class="responsive">
    </div>

    <div class="sidebar-nav">
      <a class="sidebar-nav-item" href="/index.html" {% if page.active == 'about' %}style="font-weight:bold"{% endif %}>About</a>
      <a class="sidebar-nav-item" href="/blog.html" {% if page.active == 'blog' %}style="font-weight:bold"{% endif %}>Blog</a>
      <a class="sidebar-nav-item" href="/blog.html" {% if page.active == 'blog' %}style="font-size:16px;font-weight:bold"{% endif %}style="font-size:16px"{% endif %}> - Tags</a>
      <a class="sidebar-nav-item" href="/projects.html" {% if page.active == 'projects' %}style="font-weight:bold"{% endif %}>Projects</a>
      <a class="sidebar-nav-item" href="/publications.html" {% if page.active == 'publications' %}style="font-weight:bold"{% endif %}>Publications</a>
      <a class="sidebar-nav-item" href="https://rgriff23.github.io/assets/pdfs/Randi_Griffin_resume.pdf">Download resume</a>
    </div>


<div id="social">
    {% include social.html %}
</div>

<div>
    <br>
</div>

  </div>
</div>
