<div>
  {% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.stackexchange_username %}
  <a href="https://stackexchange.com/users/{{site.stackexchange_username }}">
    <i class="fa fa-stack-exchange"></i>
  </a>
  {% endif %}

  {% if site.stackoverflow_username %}
  <a href="http://stackoverflow.com/users/{{site.stackoverflow_username }}">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {% endif %}

  {% if site.twitter_username %}
  <a href="https://twitter.com/{{ site.twitter_username }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.facebook_username %}
  <a href="https://facebook.com/{{ site.facebook_username }}">
    <i class="fa fa-facebook-square"></i>
  </a>
  {% endif %}

  {% if site.linkedin_username %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    <i class="fa fa-linkedin-square"></i>
  </a>
  {% endif %}

  {% if site.gplus_username %}
  <a href="https://plus.google.com/{{ site.gplus_username }}">
    <i class="fa fa-google-plus-square"></i>
  </a>
  {% endif %}

  {% if site.tumblr_username %}
  <a href="https://{{ site.tumblr_username }}.tumblr.com">
    <i class="fa fa-tumblr-square"></i>
  </a>
  {% endif %}


</div>