<div>

  {% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}">
    <i class="fab fa-github"></i>
  </a>
  {% endif %}

  {% if site.twitter_username %}
  <a href="https://twitter.com/{{ site.twitter_username }}">
    <i class="fab fa-twitter"></i>
  </a>
  {% endif %}

  {% if site.researchgate_username %}
  <a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}">
    <i class="fab fa-researchgate"></i>
  </a>
  {% endif %}

  {% if site.linkedin_username %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    <i class="fab fa-linkedin-in"></i>
  </a>
  {% endif %}

  {% if site.kaggle_username %}
  <a href="https://www.kaggle.com/{{ site.kaggle_username }}">
    <i class="fab fa-kaggle"></i>
  </a>
  {% endif %}

</div>